body {
	font-size: 120%;
}

input {
	padding: 0 2px;
	width: 4em;
}

button {
	margin: 4px;
}

.panel {
	padding: 4px;
	background-color: #F0F8FB;

	border-style: solid;
	border-width: 2px;
	border-color: #D0CDCD;
	border-radius: 4px;
}

#arena {
	padding: 8px;
	background-color: #FFFFC6;
	margin: 8px 0;

	border-style: solid;
	border-width: 2px;
	border-color: #D0CDCD;
	border-radius: 4px;
}

#mode {
	display: inline-block;
	margin: 0 0 0 10px;
}

#velo {
	display: none;
	margin: 0 0 0 10px;
}

#footer {
	width: 100%;
}

#legend {
}

#fyi {
	margin: 0 0 0 6px;
	color: midnightblue;
	font-style: italic;
}

#copyright {
	padding: 4px;
	font-size: 90%;
	font-style: italic;
	text-align: right;
}

.data {
	display: inline-block;
	margin: 4px;
}

#dcount::before {
	content: "Doors";
	font-style: italic;
	margin: 0 4px 0 0;
}

#success::before {
	content: "Success";
	font-style: italic;
	margin: 0 4px 0 0;
}

#failure::before {
	content: "Failure";
	font-style: italic;
	margin: 0 4px 0 0;
}

.doorPlesio {
	position: relative;
	display: inline-block;
	margin: 4px;

	width: 70px;
	height: 100px;

	border-style: double;
	border-width: 3px;
	border-color: #D46262;
	border-color: #C8D462;
	border-radius: 4px;

	cursor: pointer;
}

.door {
	position: absolute;
	bottom: -4px;
	left: -4px;

	display: inline-block;
	margin: 4px;

	width: 100%;
	height: 100%;
	background-color: brown;
	background-color: #4D9459;
	border-radius: 0.3px;
}

#hintButton {
	width: 4em;
}

.hint {
	opacity: 0.8;
}

#gift {
	position: absolute;
	bottom: -4px;
	left: -4px;

	display: inline-block;
	margin: 4px;

	text-align: center;
	vertical-align: middle;
	font-size: 86px;
	color: #004477;

	width: 100%;
	height: 100%;
	background-color: #FFFF54;
}

.fail {
	background-color: #6B0707 !important;
}

.choice {
	border-style: solid;
	border-color: #066FB5;
}

.open {
	background-color: transparent;
}

.inactive {
	cursor: auto;
}
